@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: "Azeret Mono", monospace; */
}

nav {
    width: 1350px;
    padding: 30px 0px;
    display: flex;
    justify-content: space-around;
}

.logo {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

.nv-btn {
    padding: 15px 20px;

    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;

    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-align: center;

}

/* banner section */
#banner-section {

    width: 1350px;
    height: 612px;
    background-image: url("./assets/Hero-bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-box {
    width: 90%;
    margin: 0px auto;
    text-align: center;
}

.banner-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin: 10px 0px;
}

.banner-description {
    width: 90%;
    margin: 10px auto;

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;

}


.btn {
    padding: 20px 30px;
    margin: 15px 0px;
    border-radius: 8px;

    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0%;
    text-align: center;
}

/* why web desing section */

#why-web {
    margin-top: 100px;
}

.web-main-box {
    width: 946px;
    margin: 0px auto;
    /* border: 2px solid red; */
}

.headding-description {
    width: 95%;
    margin: 10px auto;
    text-align: center;
}

.hedding-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}

.headding-des {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin: 20px auto;
}

.cart-box {
    margin-top: 70px;

}

.cart {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 10px #fcfbfb;
    background-color: rgb(255, 251, 251);
    /* border: 2px solid red; */
    margin: 60px 0px;
}

.cart-contant {
    width: 55%;
}

.cart-img {
    width: 35%;
}

.cart-title {

    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px 0px;

}

.cart-des {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
    margin: 5px 0px;
}

.cart-btn {
    padding: 10px 15px;
    font-size: 16px;
    margin: 20px 0px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;

}
.middle-cart{
    /* border: 2px solid red; */
    /* margin: 120px 0px; */
    flex-direction: row-reverse;
}

/* Inspiration sectin */
#insparation-section{
    margin-top: 80px;
    margin-bottom: 70px;
    /* border: 2px solid red; */
}

.insp-title{
    width: 60%;
    margin: 20px auto;
}
.video-box{
    width: 70%;
    height: 500px;
    margin: 30px auto;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 10px;
}
.youtube-video{
    width: 90%;
    height: 90%;
    border-radius: 10px;
}
.skill-cart-box{
    display: flex;
    gap: 20px;
    justify-content: center;
    /* border: 2px solid red; */

}
.skill{
    padding: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    /* border: 2px solid red; */
}
.skill-cart{
    width: 364px;
height: 299px;
    box-sizing: border-box;
    padding: 30px;
    /* border: 2px solid green; */
    background: rgba(0, 76, 232, 0.05);
   border-radius: 15px;
}
.skill-img{
    width: 56px;
height: 56px;
}
.skill-name{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-top: 30px;

}
.skill-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
margin-top: 20px;
}
a{
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    text-decoration: none;
    color: rgb(13, 19, 33);
    border-bottom: 2px solid rgb(13, 19, 33);;

}
.learn-more{
    margin-top: 20px;
}
.cart-1, .cart-3{
    background: rgba(255, 76, 30, 0.05);
}


/* Next terget */
#next-terget{
    margin-top: 100px;
    /* border: 2px solid red; */
}
.next-terget-skill{
    width: 75%;
    margin: 0px auto;
    padding: 35px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 30px;
    box-shadow: #fcfbfb;
    
}
.next-skill-name{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.next-skill-des{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
}
.middle-terget-skill{
    margin: 35px auto;
}
